*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
  
}
body 
{
    font-family: 'Lora', serif;
  
    
}
// img{
//     height: 600px;
//     width: auto;
//     position: absolute;
//     top: 45%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }
.carousel-item
{
    background-color: black;
    color: white;
}
.carousel-item em{
  color: rgb(252, 221, 137);
  font-style: normal;
}
.carbon::before{
    content: 'C 006';
    animation-name: head;
    color: coral;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes head {
    0% { opacity:1;}
    25% {opacity:0;}
    30%{opacity: 1; content: "[He] 2s² 2p²";}
    40%{opacity: 0; }
    50% { opacity:1; content: "Period 2";}
    65% { opacity:0;}
    80% {opacity:1; content: "Group 14"}
    90% { opacity:0;}
    100% {opacity:1; content: "P-block"}
}
.silicon::before{
  content: 'Period 3 ';
  animation-name: head1;
  color: coral;
  animation-duration: 8s;
  
  animation-iteration-count: infinite;
}
@keyframes head1 {
  0% { opacity:1;}
  25% {opacity:0;}
  30%{opacity: 1; content: "ᴀᴛᴏᴍɪᴄ ᴡᴇɪɢʜᴛ: 28.086";}
  40%{opacity: 0; }
  50% { opacity:1; content: "Mᴇʟᴛɪɴɢ ᴘᴏɪɴᴛ: ¹⁶⁸⁷ ᴷ";}
  65% { opacity:0;}
  80% {opacity:1; content: " Bᴏɪʟɪɴɢ ᴘᴏɪɴᴛ: ³⁵³⁸ ᴷ"}
  90% { opacity:0;}
  100% {opacity:1; content: "ᴰᵉⁿˢⁱᵗʸ᠄ ²˙³²⁹⁰ ᵍ∕ᶜᵐ³"}
}

.wise::before{
  content: 'ᵈⁱˢᵗᵃⁿᶜᵉ᠄ ⁷ ˡⁱᵍʰᵗ ʸᵉᵃʳˢ';
  animation-name: properties;
  color: coral;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes properties {
  0% { opacity:1;}
  25% {opacity:0;}
  50% { opacity:1; content: "ᵐᵃˢˢ᠄ ³⁻¹⁰ˣ ʲᵘᵖⁱᵗᵉʳ";}
  75% { opacity:0;}
  100% {opacity:1; content: "ᵗᵉᵐᵖᵉʳᵃᵗᵘʳᵉ᠄ ⁻⁵⁰ ⁻ ⁻¹³`ᶜ"}
}
.GJ::before{
  content: 'ᵈⁱˢᵗᵃⁿᶜᵉ᠄ ˜³¹ ˡⁱᵍʰᵗ ʸᵉᵃʳˢ';
  animation-name: gj;
  color: coral;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes gj {
  0% { opacity:1;}
  25% {opacity:0;}
  50% { opacity:1; content: "ᵐᵃˢˢ᠄ ˜⁷ˣ ᴱᵃʳᵗʰ";}
  75% { opacity:0;}
  100% {opacity:1; content: "ᵗᵉᵐᵖᵉʳᵃᵗᵘʳᵉ᠄ ˜⁻⁵³`ᶜ"}
}

.titan::before{
  content: 'ᵈⁱˢᵗᵃⁿᶜᵉ᠄ ¹˙² ᵐⁱˡˡⁱᵒⁿ ᵏᵐ';
  animation-name: titan;
  color: coral;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes titan {
  0% { opacity:1;}
  25% {opacity:0;}
  50% { opacity:1; content: "ᵐᵃˢˢ᠄ ˙⁰²³ˣ ᵉᵃʳᵗʰ";}
  75% { opacity:0;}
  100% {opacity:1; content: "ᵗᵉᵐᵖᵉʳᵃᵗᵘʳᵉ᠄ ⁻¹⁷⁹"}
}

.PSR::before{
  content: 'ᵈᶦˢᵗᵃⁿᶜᵉ᠄ ¹⁷⁰⁰⁰ ˡᶦᵍʰᵗ ʸᵉᵃʳˢ';
  animation-name: psr;
  color: coral;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes psr {
  0% { opacity:1;}
  25% {opacity:0;}
  50% { opacity:1; content: "ˢᵖᶦⁿ ʳᵃᵗᵉ᠄ ˜⁷∕ˢᵉ";}
  75% { opacity:0;}
  100% {opacity:1;}
}

.CoRo::before{
  content: 'ᵈⁱˢᵗᵃⁿᶜᵉ᠄ ˜⁵²⁰ ˡⁱᵍʰᵗ ʸᵉᵃʳˢ';
  animation-name: coro;
  color: coral;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes coro {
  0% { opacity:1;}
  25% {opacity:0;}
  50% { opacity:1; content: "ᵐᵃˢˢ᠄ ˜⁸ˣ ᵉᵃʳᵗʰ";}
  75% { opacity:0;}
  100% {opacity:1; content: ' ᵗᵉᵐᵖᵉʳᵃᵗᵘʳᵉ᠄ ¹⁰²⁶⁻¹⁵²⁶`ᶜ ';}
}
.small-saber
{
    height: 3px;
    width: 120px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left:45%;
    top: auto;
    box-shadow: 0px 0px 10px,
    0px 0px 2px inset;
    transform: translate(0%, -45%);
    animation: glow 1.5s linear infinite;
}
.small-saber:after{
  
    background-image:
                      linear-gradient(to right,
                                      rgba(255, 255, 255, 0) 0px,
                                      rgba(255, 255, 255, 0.7) 2px,
                                      rgba(255, 255, 255, 0.2) 3px,
                                      rgba(  0,   0,   0, 0.5) 8px),
                      linear-gradient(to bottom, grey 5px, black  5px,
                                      grey 6px, grey 7px, black  7px,
                                      grey 8px, grey 9px, black  9px,
                                      grey 10px, grey 11px, black 11px,
                                      grey 12px, grey 16px,
                                      black 16px, black 17px,
                                      orange 17px, orange 20px,
                                      black 20px, black 21px, transparent 21px,
                                      transparent 57px, black 57px, orange 58px),
                      linear-gradient(to right,
                                      silver 1px, black 1px, black 2px,
                                      transparent 3px, transparent 3px,
                                      silver 3px, silver 5px, black 5px, grey 6px,
                                      transparent 6px, transparent 7px,
                                      silver 7px, silver 8px),
                      linear-gradient(to bottom,
                                      grey 0px, grey 60px);
    content: "";
  }
  
@keyframes glow {
    from {
      color: rgb(183, 247, 255); 
      box-shadow: 0 0 9px rgb(95, 177, 255); 
    }
    50% {
      color: rgb(183, 247, 255); 
      box-shadow: 0 0 36px rgb(85, 173, 255); 
    }
    to {
      color: rgb(183, 247, 255); 
      box-shadow: 0 0 9px rgb(86, 161, 231); 
    }
  }
  @media only screen and (max-width: 600px){
    .small-saber{
        left:35%;
    top: auto;
    transform: translate(0%, -35%);
    }
}

.social-icons i
{
  color: rgb(255, 255, 255);
  margin: 0px 0px 0px 5px;
 
  font-size: 20px;
}
ul li {
	display: inline;
	margin: 0 5px;
}
footer hr
{
  color: white;
}
footer ul
{
  margin-right: 28px;
}



// style="color: rgb(167, 249, 255);"
// style="color: coral;"
// style="color: rgb(255, 68, 68);"
// style="color: rgb(182, 253, 191);"
// style="color: rgb(113, 255, 57);"
// style="color: rgb(252, 221, 137);"
// style="color: aquamarine;"